.card {
  border-radius: $border-radius;
  background-color: $background-color;
  min-width: 200px;
  position: relative;
  margin-right: 20px;
  height: 100px;
  cursor: pointer;

  &--tall {
    height: 120px;
  }

  &--for-vertical {
    @media (min-width: $screen-m) {
      margin: 0 20px 15px 0;
      &:first-child {
        margin-top: 20px;
      }
    }
  }

  &--for-box {
    margin: 0 15px 15px 0;
    flex: 1 1 180px;
    min-width: unset;
    max-width: 450px;

    &:nth-child(3n) {
      margin-right: 40px;
    }

    @media (min-width: $screen-l) {
      flex-basis: 230px;
    }
  }

  &--blank {
    visibility: hidden;
    margin: 0 15px 15px 0;
    flex: 1 1 180px;
    min-width: unset;
  }

  &--animation {
    transition-property: background-color, left, top, height, width;
    transition-duration: 3s, 5s;
  }

  &__info {
    position: absolute;
    bottom: 0;
    padding: 0 15px 15px;
  }

  &__icon {
    position: absolute;
    top: 14px;
    left: 14px;

    &--double-arrow {
      display: none;
      left: 90px;
    }
  }

  &__header {
    font-family: $font-family-bold;
    font-size: $font-size-s;
    color: $text-color-main;
  }

  &__message {
    font-family: $font-family;
    font-size: $font-size-xxs;
    color: $text-color-alternative;
  }

  &__for-animation {
    @include animation('background-color left top height width');
    width: 200px;
    height: 120px;
    background-color: $background-color;
    position: fixed;
    z-index: 9999;
  }
}
