.card {
  border-radius: 20px;
  background-color: $background-color;
  min-width: 200px;
  max-width: 200px;
  position: relative;
  margin-right: 20px;
  height: 100px;

  &--tall {
    height: 120px;
  }

  &--for-vertical {
    @media (min-width: $screen-m) {
      margin: 0 20px 15px 0;
      &:first-child {
        margin-top: 20px;
      }
    }
  }

  &--for-box {
    margin: 0 15px 15px 0;
    flex: 1 1 180px;
    min-width: unset;
  }

  &--blank {
    visibility: hidden;
    margin: 0 15px 15px 0;
    flex: 1 1 180px;
    min-width: unset;

  }

  &--scroll-btn {
    // сюда стили с двойной стрелкой вверх. Класс будет убираться, после начала скролла
  }

  &__info {
    position: absolute;
    bottom: 0;
    padding: 0 15px 15px;
  }

  &__header {
    font-family: $font-family-bold;
    font-size: $font-size-s;
    color: $text-color-main;
  }

  &__message {
    font-family: $font-family;
    font-size: $font-size-xxs;
    color: $text-color-alternative;
  }
}
