.card {
  border-radius: 20px;
  background-color: $background-color;
  min-width: 200px;
  position: relative;
  margin-right: 20px;

  &--tall {
    height: 120px;

    @media (min-width: $screen-m) {
      margin: 0 20px 15px 20px;
      &:first-child {
        margin-top: 20px;
      }
    }
  }

  &--scroll-btn {
    position: absolute;
    bottom: 0;
    right: 20px;
    height: 120px;
    background-color: red;
  }

  &__info {
    position: absolute;
    bottom: 0;
    padding: 0 15px 15px;
  }

  &__header {
    font-family: $font-family-bold;
    font-size: $font-size-s;
    color: $text-color-main;
  }

  &__message {
    font-family: $font-family;
    font-size: $font-size-xs;
    color: $text-color-alternative;
  }
}
