.carousel-box {
  display: none;
  width: calc(50vw - 10px);
  height: 330px;
  overflow-y: hidden;

  @media (min-width: $screen-m) {
    display: block;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: calc(50vw - 10px);
  }
  &__item-container {
    display: inline-block;
    width: calc(50vw - 10px);
  }
  &__content {
    max-height: 330px;
    display: flex;
  }
  &__container {
    width: calc(50vw - 10px);
    overflow-x: scroll;
    padding-bottom: 50px;
  }
}