.carousel {
  max-height: 150px;
  overflow-y: hidden;

  &__content {
    display: flex;
    box-sizing: content-box;
    padding-left: 20px;
    padding-top: 5px;
    touch-action: pan-x;

    @media (min-width: $screen-m) {
      padding-left: 40px;
    }

    &--tall {
      @media (min-width: $screen-m) {
        flex-direction: column;
        touch-action: pan-y;
        padding-left: 0;
        width: 200px;
      }
    }
  }
  &__container {
    overflow-x: scroll;
    overflow-y: hidden;
    max-height: 150px;
    padding-bottom: 55px;

    &--tall {
      @media (min-width: $screen-m) {
        height: 100%;
        max-height: unset;
        padding-bottom: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 200px;
        padding-right: 50px;
      }
    }
  }

  &--tall {
    max-height: 150px;
    @media (min-width: $screen-m) {
      max-height: unset;
      height: 100%;
      width: 200px;
      overflow-x: hidden;
    }
  }

  &--only-mobile {
    @media (min-width: $screen-m) {
      display: none;
    }
  }
}


