.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  @media (min-width: $screen-m) {
    justify-content: flex-start;
    border-bottom: 1px solid #F0F0F0;
  }

  .header-logo{
    display: inline-block;
    width: 108px;
    height: 27px;
    background-image: url(../images/png/logo1x.png);
    margin-right: 52px;
  }

  .main-nav {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
      display: inline;
      margin-right: 13px;
    }

    &__link {
      font-family: $font-family;
      text-decoration: none;
      color: $text-color-main;
      opacity: 0.6;
      font-size: 16px;
      line-height: 20px;

      &--active {
        opacity: 1;
        pointer-events: none;
      }
    }

    @media (min-width: $screen-m) {
      display: block;
    }
  }

  .main-nav-open-btn {
    @media (min-width: $screen-m) {
      display: none;
    }
  }
}

