html, body {
  height: 100%;
}

body {
  margin: 0;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-rows: 55px auto 64px;
  grid-template-areas:  "h h h h"
                        "c c c c"
                        ". f f .";

  @media (min-width: $screen-m) {
    grid-template-columns: 40px 1fr 1fr 40px;
  }
}
.header {
  grid-area: h;
}

.content{
  grid-area: c;
  display: grid;
  grid-template-rows: 302px 161px 161px;
  grid-template-columns: 1fr;
  grid-template-areas:  "m"
                        "s"
                        "g";

  .section-main {
    grid-area: m;
    margin: 0 20px;
  }
  .scenarios {
    grid-area: s;
    max-width: 100vw;
  }
  .gadgets {
    grid-area: g;
    max-width: 100vw;
  }
  
  @media (min-width: $screen-m) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:  "m s"
                          "m s"
                          "m s"
                          "m s"
                          "m s"
                          "g g"
                          "g g";
    gap: 26px
  }
}

.footer {
  grid-area: f;
  padding-top: 10px;

  @media (min-width: $screen-m) {
    padding-top: 0;
  }
}

.text-header {
  font-size: $font-size-m;
  color: $text-color-main;
}

