.round-slider {
  width: 178px;
  height: 178px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0;
  text-align: center;

  @media (min-width: $screen-s) {
    top: 120px;
    margin-top: 0;
  }

    &__temperature {
    display: inline-block;
    margin-top: 50px;
    font-family: $font-family-bold;
    font-size: $font-size-xxxl;
  }
}