.round-slider {
  width: 220px;
  height: 220px;
  position: relative;

  &__controller {
    width: 178px;
    height: 178px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 50;
    background-color: white;

    @media (min-width: $screen-s) {
      margin-top: 0;
    }

    &--arrow-container {
      box-shadow: none;
      z-index: 60;
      background-color: unset;
      text-align: right;
      transform: rotate(117deg);
    }
  }

  &__arrow {
    transform: rotate(90deg);
    display: inline-block;

  }
  &__icon-container {
    position: absolute;
    top: calc(50% - 9px);
    left: 50%;
    width: 50%;
  }

  &__temperature {
    display: inline-block;
    margin-top: 50px;
    font-family: $font-family-bold;
    font-size: $font-size-xxxl;
  }

  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 1px;
    background-color: $text-color-alternative;
    transform-origin: bottom left;

    @for $i from 1 through 100 {
      &--#{$i} {
        transform: rotate(60deg - ($i * 3));
      }
    }

    &--active {
      background-color: $color-accent-light;
    }
  }
}