.section-gadgets {

  &__header {
    display: flex;
    align-items: center;
    margin: 0 20px;

    @media (min-width: $screen-m) {
      margin: 0 40px;
    }
  }

  &__h2 {
    margin-right: 15px;
  }

  &__filter {
    display: none;

    @media (min-width: $screen-m) {
      display: block;
    }

    &--mobile {
      display: block;
    }
  }

  &__scroll-btns {
    margin-left: auto;
  }

  &__content {
    width: 100%;
  }
}