.section-main {
  &__header {
    display: none;
    @media (min-width: $screen-m) {
      display: block;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:  "info info info"
                          "card card card";
    background-image: url("../images/png/main-background1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: relative;

    @media (min-width: $screen-m) {
      height: 330px;
      grid-template-areas:  "info info card"
                            ". . card";
    }
  }

  &__info {
    grid-area: info;
  }

  &__carousel {
    grid-area: card;
  }
}
