/*.slider {
  height: 100%;
  width: 60px;
  border-radius: 35px;
  background: linear-gradient(#FF5B00, #FFD800, #0085FF);
  flex-grow: 1;
  margin-top: 25px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $screen-s) {
    background: linear-gradient(-90deg, #FF5B00, #FFD800, #0085FF);
    height: 60px;
    width: 100%;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
  }

  &--light {
    background: linear-gradient(#FFB100, #FFEC85);
    @media (min-width: $screen-s) {
      background: linear-gradient(-90deg, #FFB100, #FFEC85);
    }
  }

  &__start {
    margin-bottom: 15px;
    @media (min-width: $screen-s) {
      margin: 0 0 0 20px;
    }

    &--temperature{
      color: white;
      font-family: $font-family-bold;
      font-size: $font-size-m;
    }
  }

  &__end {
    margin-top: 15px;
    @media (min-width: $screen-s) {
      margin: 0 20px 0 0;
    }

    &--temperature{
      color: white;
      font-family: $font-family-bold;
      font-size: $font-size-m;
    }
  }
}*/

.slider-row {
  border-radius: 35px;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 60px;
  background: linear-gradient(-95deg, #FF5B00, #FFD800, #0085FF);
  outline: none;
  //transform: rotate(-90deg);
  margin-top: 25px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 3px solid rgba(51,51,51,0.1);
    box-shadow: 0 0 0 4px white;
    border-radius: 50%;
  }

  &::-moz-range-thumb {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 3px solid rgba(51,51,51,0.1);
    box-shadow: 0 0 0 4px white;
    border-radius: 50%;
    background: none;
  }
  &::-moz-range-track {
    background: none;
  }
}