.tag {
  padding: 8px 15px;
  background-color: $background-color;
  cursor: pointer;
  font-family: $font-family-bold;
  font-size: $font-size-xs;
  border-radius: $border-radius;
  
  &--active {
    background-color: $color-accent;
    cursor: default;
  }
}