$screen-s: 1024px;
$screen-m: 1300px;
$screen-l: 1550px;

$font-family-bold: 'Arial-BoldMT', Arial, sans-serif;
$font-family: 'ArialMT', Arial, sans-serif;
$font-size-xxl: 36px;
$font-size-xl: 27px;
$font-size-l: 24px;
$font-size-m: 18px;
$font-size-s: 14px;
$font-size-xs: 13px;
$font-size-xxs: 12px;

$border-radius: 20px;

$text-color-main: #333333;
$text-color-alternative: #858585;
$background-color: #F7F7F7;
$color-accent: #FFD93E;
$color-accent-dark: #F5A623